body {
 background-image: url("resources/fondo.jpg");
 text-align: center;
}
#logoB{
    width: 260px;
    height: 70px;
}
#logoR{
    width: 100px;
    height: 100px;
    padding-right: 50px;
    padding-left: 20px;
}